<!-- Generated template for the EducationComponent component -->
<div>
  <ion-row align-items-center>
  <h1 id="ed-title">Education</h1>
  <h2 id="ed-subtitle">Major GPA: 4.0</h2>
  </ion-row>
    <ion-row align-items-center>
      <ion-card class="school" *ngFor="let school of schools" col-3>
        <ion-card-header>
            {{school.name}}
        </ion-card-header>
        <ion-card-content>
          <span>{{school.begin_year}}-{{school.end_year}}</span>
        </ion-card-content>
      </ion-card>
    </ion-row>
</div>
