schooldetail {
    #title{
        color: color($colors, my-blue-green);
        font-weight: 900;
    }
    #years{
        font-size: 1.5em;
    }
    .subtitle{
        color: color($colors, my-yellow)
    }
    .item{
        color: color($colors, my-blue-green);
    }
}