<!-- Generated template for the NavbarexternallinksComponent component -->
<div class="external-links-set">
    <address>
        <a href="mailto:fafierrojr@gmail.com">
            <span #icon class="far fa-envelope fa-2x" color="red"></span>
        </a>

        <a href="tel:+14242107343">
            <span #icon class="fas fa-phone fa-2x" color="green"></span>
        </a>
    
        <a href="https://github.com/fafierrojr" target="_blank">
            <span #icon class="fab fa-github fa-2x" color="black"></span>
        </a>

        <a href="https://www.linkedin.com/in/francisco-fierro-72aa31157" target="_blank">
            <span #icon class="fab fa-linkedin fa-2x" color="#0077B5"></span>
        </a>
    </address>

</div>
