page-home {
    span{
        color: black;
        font-family: 'Roboto', sans-serif;
        font-size: 2em;
        font-style: bold;
        font-weight: 700;
        float:left;
        padding-right: .2em;

    }

    .external-links{
        float: left;
    }
}
