// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/* RGB Color Scheme */
$my-purple: rgba(84, 13, 110, 1);
$my-yellow: rgba(254, 215, 102, 1);
$my-light-blue: rgba(0, 159, 183, 1);
$my-red-orange: rgba(238, 66, 102, 1);
$my-blue-green: rgba(59, 206, 172, 1);